body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background: #f85606;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.search {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.search-btn {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

/* BANNER */
.banner img {
    width: 100%;
    display: block;
}

/* CATEGORIES */
.categories {
    display: flex;
    gap: 15px;
    padding: 20px;
    justify-content: center;
}

.cat-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 120px;
}

/* PRODUCTS */
.section-title {
    text-align: center;
    margin-top: 20px;
}

.products {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border: none;
    background: #f85606;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
